@font-face {
    font-family: 'KoPubDotum';
    font-style:normal;
    font-weight:400;
    src: local('KoPubDotum'), local('KoPubDotum'),
    url(../font/KoPub_Dotum_Medium.ttf)
    , url(../font/KoPub_Dotum_Pro_Medium.otf);
    ;
}

@font-face {
    font-family: 'KoPubDotum';
    font-style:normal;
    font-weight:100;
    src: local('KoPubDotum'), local('KoPubDotum'),
    url(../font/KoPub_Dotum_Light.ttf)
    , url(../font/KoPub_Dotum_Pro_Light.otf);
}


/* ----------------------------------------------- */

@font-face {
    font-family:'Helvetica';
    font-style:normal;
    font-weight:400;
    src: 
    url(../HelveticaNeueLTPro_Bd.ttf)format(TrueType),
    url(../HelveticaNeueLTPro_Bd.otf)format(OpenType);
   
}

@font-face {
    font-family:'Helvetica';
    font-style:normal;
    font-weight:100;
    src: 
    url(../HelveticaNeueLTPro_Lt.ttf)format(TrueType),
    url(../HelveticaNeueLTPro_Lt.otf)format(OpenType);
    
}
