@font-face {
    font-family: 'KoPubDotum';
    font-style:normal;
    font-weight:400;
    src: local('KoPubDotum'), local('KoPubDotum'),
    url(../font/KoPub_Dotum_Medium.ttf), url(KoPub_Dotum_Pro_Medium.otf);
    ;
}

@font-face {
    font-family: 'KoPubDotum';
    font-style:normal;
    font-weight:100;
    src: local('KoPubDotum'), local('KoPubDotum'),
    url(../font/KoPub_Dotum_Light.ttf), url(KoPub_Dotum_Pro_Light.otf);
}


/* ----------------------------------------------- */

@font-face {
    font-family: 'FUTURA';
    font-style:normal;
    font-weight:400;
    src: local('FUTURA'), local('FUTURA'),
    url(../font/FUTURAMC.TTF),
    url(../font/futura.ttc);
}
