nav{position: absolute;}
 /* ========================================================== */
body{background-color: #000;color: #fff;}
nav {z-index: 10; position: absolute;}
footer {z-index: 20; position: absolute;}
.section{z-index: 1;}
 /* ========================================================== */
a:link { color: rgb(0, 0, 0); text-decoration: none;}
a:visited { color: rgb(0, 0, 0); text-decoration: none;}
a:hover { color: rgb(0, 0, 0); text-decoration: underline;}
 /* ========================================================== */
 .center{ 
    display: flex;
    text-align: center; 
    justify-content: center; 
    align-items: center;         
}
body{
    font-family: 'FUTURA';
    letter-spacing: 2px; 
}

.Noto{
    font-family: 'KoPubDotum';
    font-style:normal;
    font-weight:100;   
    
}
.bold{
    font-family: 'KoPubDotum';
    font-style:normal;
    font-weight:400; 
}
 /* ========================================================== */
@media only screen and (min-width: 1024px){
    .section,nav,footer,.tpfh, .mo{display: none;}
    .dlatlqkdvus {background-color: #fff;color: #000; text-align: center;width: 100%;height: 100%;}
    .dlatlqkdvus p { margin-bottom: 10px;font-size: 24px;display: block;}
    .dlatlqkdvus img {width: 300px;height:300px; margin: 0 auto; display: block}
    
}
 /* ========================================================== */

 @media  (max-width: 1023px){
    .web,.dlatlqkdvus,.tpfh{display:none;}
 /* ========================================================== */    
    .menu a{cursor:pointer;}
    .menu .hide{display:none;}

    .menu ul{
        display: block;
        position: absolute;  
        top: 54px;
        left: 0px;
        width: 100%;        
    }
    .menu ul li{
        width: 100%; height: 80px;
        background-color:rgba(42, 42, 42, 0.9);
        text-align: center;
        line-height: 80px;
        font-size: 50px;
    } 
    .menu ul li a{
        text-align: center;
        line-height: 80px;
        font-size: 50px;
        color: #fff;
    }
    /* .menu ul li:nth-of-type(2n){
        background-color:rgba(36, 36, 36, 0.9);        
    } */
    nav.mo {
        margin-top: 20px;  
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;       
    }
    nav.mo a{
        margin: 20px;
        text-indent: -9999px;
        color: none;
        font-size: 0px;
    }
    nav.mo a img { width: 50px; height: auto;}
    /* ========================================================== */
    footer {
        width: 100%;
        bottom: 20px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
    }
    footer a{ 
        padding: 10px 25px;
        text-align: center;
        background-color: #fff;
        border-radius: 100px;
        font-size: 36px;
    }
    /* ========================================================== */
    .main{
        background: url('../img/logo.png') no-repeat;   
        background-position: center 30%;
        background-size: 70%;
    }    
    /* ========================================================== */ 
    .Introduce dl,.Guide dl{       
        position: relative;
        top: -20px;
    }     
    /* ========================================================== */           
    /* .Introduce img{
        width: 50%; height: auto;   
        margin-bottom: 8%;    
    }
    .Introduce dd{
        margin-bottom: 4%;
        line-height: 22px;
        font-size: 14px;
    }
    .Introduce dd:first-of-type{
        margin-bottom: 6%; 
        font-size: 26px;
        line-height:34px;
    }  */
    /* ========================================================== */
    .Guide dl dt{
        margin-bottom: 16%;         
    }
    .Guide dt,.Guide dl dd:first-of-type{
        font-size: 30px;
        line-height:38px;
    }
    .Guide dl dd{
        margin-bottom: 4%;       
        font-size: 18px;
        line-height: 26px;
    }
    .Guide dl dd:nth-of-type(3){
        font-size: 26px;        
        line-height:34px;    
    }
    .Guide dl dd img{
        width: 120px; height:auto;
        margin-bottom: 4%;         
    }
     
}
    

@media (min-width:321px) and (max-width: 1023px){
    .Introduce img{
        width: 50%; height: auto;   
        margin-bottom: 8%;    
    }
    .Introduce dd{
        margin-bottom: 4%;
        line-height: 22px;
        font-size: 14px;
    }
    .Introduce dd:first-of-type{
        margin-bottom: 6%; 
        font-size: 26px;
        line-height:34px;
    } 
      /* ========================================================== */
      #zindex{
        z-index: 15;
    }
    .Created{
        text-align: center
    }
    .Created>dl{
        position: relative;
        top: 4%;}
    .Created>dl>dt{
        font-size: 26px;
        line-height:34px;
        margin-bottom: 8%;          
    }
    .Created>dl>dt p{
        font-size: 20px;
        line-height:28px;       
    }
    .Created>dl>dt p span{
        font-size: 14px;
    }
    .Created dl,.Created dd{
        margin-bottom: 2%;     
    }
    .Created dl dd> dl { 
        width: 50%;
        float: left;
    }
    .Created dl dd:nth-of-type(3)> dl{ 
        width: 100%;
        clear: both;
    }
    .Created dl dd> dl dt img{
        width:  100px; height:100px;                  
        border-radius:200px;        
        margin: 0 auto;
        margin-bottom: 10px; 
        display: block;              
    }
}
@media (max-width: 320px) and  (orientation:portrait){
    .Introduce img{
        width: 50%; height: auto;   
        margin-bottom: 8%;    
    }
    .Introduce dd{
        margin-bottom: 4%;
        line-height: 18px;
        font-size: 13px;
    }
    .Introduce dd:first-of-type{
        margin-bottom: 6%; 
        font-size: 26px;
        line-height:34px;
    } 
      /* ========================================================== */
      #zindex{
        z-index: 15;
    }
    .Created{
        text-align: center
    }
    .Created>dl{
        position: relative;
        top: 3%;}
    .Created>dl>dt{
        font-size: 22px;
        line-height:30px;
        margin-bottom: 6%;          
    }
    .Created>dl>dt p{
        font-size: 18px;
        line-height:26px;       
    }
    .Created>dl>dt p span{
        font-size: 12px;
    }
    .Created dl,.Created dd{
        margin-bottom: 1%;     
    }
    .Created dl dd> dl { 
        width: 50%;
        float: left;
    }
    .Created dl dd:nth-of-type(3)> dl{ 
        width: 100%;
        clear: both;
    }
    .Created dl dd> dl dt img{
        width:  70px; height:70px;                  
        border-radius:200px;        
        margin: 0 auto;
        margin-bottom: 10px; 
        display: block;              
    }
}