nav{position: absolute;}
/* ========================================================== */
body{background-color: #000;color: #fff;}
nav {z-index: 10; position: absolute;}
footer {z-index: 20; position: absolute;}
.section{z-index: 1;}
.section dl{
   position: relative;
   top:-2vw;
} 
/* ========================================================== */
a:link { color: rgb(0, 0, 0); text-decoration: none;}
a:visited { color: rgb(0, 0, 0); text-decoration: none;}
a:hover { color: rgb(0, 0, 0); text-decoration: underline;}
/* ========================================================== */
.center{ 
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;      
}
body{
   font-family:'Helvetica';
   font-style:normal;
   font-weight:100;    
   letter-spacing: 0.1vw; 
}

.Noto{
   font-family: 'KoPubDotum';
   font-style:normal;
   font-weight:100;   
   
}
.bold{
   font-family: 'KoPubDotum';
   font-style:normal;
   font-weight:400; 
}
/* ========================================================== */

/* ========================================================== */    
   .menu a{cursor:pointer;}
   .menu .hide{display:none;}

   .menu ul{
       display: block;
       position: absolute;  
       top: 5%;
       left: 0px;
       width: 100%;        
   }
   .menu ul li{
       width: 100%; padding: 10% 0;
       background-color:rgba(42, 42, 42, 0.9);
       text-align: center;
       font-size: 10vw;
   } 
   .menu ul li a{
       text-align: center;
       font-size: 10vw;
       color: #fff;
   }
   /* .menu ul li:nth-of-type(2n){
       background-color:rgba(36, 36, 36, 0.9);        
   } */
   nav {
       margin-top: 4%;  
       width: 100%;
       display: -webkit-flex;
       display: flex;
       -webkit-justify-content: flex-end;
       justify-content: flex-end;       
   }
   nav a{
       margin: 4%;
       text-indent: -9999px;
       color: none;
       font-size: 0px;
   }
   nav a img { width: 40%; height: auto;}
   /* ========================================================== */
   footer {
       width: 100%;
       bottom: 4%;
       display: -webkit-flex;
       display: flex;
       -webkit-justify-content: center;
       justify-content: center;
   }
   footer a{ 
       padding:5px 10px;
       text-align: center;
       background-color: #fff;
       border-radius: 100px;
       font-size: 10vw;
   }
   /* ========================================================== */
.main{
    background: url('../img/logo.png') no-repeat;   
    background-position: center 30%;
    background-size: 50%;
} 
   .main dl:first-of-type{
    margin: 2%;
    position: relative;
    top :5%;
}
.main dl:first-of-type dt{
  font-weight: 400;
  font-size: 3.6vw;
  margin-bottom: 1%;
  
}
.main dl:first-of-type dd{
  font-size: 1.4vw;
  line-height: 1.8vw;
}
.day{
  float: right;
  clear: both;         
  position: relative; 
  margin-right: 20%;
  margin-top: 11%;
}
.day dt{
  font-size: 1.2vw;
  margin-bottom: 1%;
}
.day dd{
  font-weight: 400;    
  font-size: 4vw;    
}
.day dd:nth-of-type(2n){
  margin-bottom: 10%;        
}
/* ========================================================== */
.Introduce{
  width: 80%; margin: 0 auto;        
}
.Introduce dl,.Guide dl{       
  position: relative;
  top:-2%;
}

.Introduce dt iframe{
  /* width: 100%;  */
  /* margin: 0 auto;        */
  margin-bottom: 5%;    
}
/* .Introduce img{
  width: 50%; height: auto;   
  margin-bottom: 8%;    
  transition: 0.5s;
}
.Introduce img:hover{
  width:  55%; height:auto;  
} */
.Introduce dd{
  margin-bottom: 4%;
  line-height: 1.4vw;
  font-size: 1vw;
}
.Introduce dd:first-of-type{
  margin-bottom: 6%; 
  font-size: 2.2vw;
  font-weight: 400;
  line-height:2.6vw;
} 
/* ========================================================== */
.Guide dl>dt {
  margin-bottom: 5%; 
  font-size: 2.2vw;
  font-weight: 400;
  line-height:2.6vw;
}
.N123 {
  width: 80%;
}
.N123 dl{
  float: left;
  width: 33%;
  /* border: 1px solid #fff; */
}
.N123 img{
  width: 40%;
  margin-bottom: 2%;   
}
.N123 dt{
  font-size: 2.2vw;
  font-weight: 400;
  line-height:2.6vw;
  margin-bottom: 5%;
}

.N123 dl dd{     
  float: left;    
  text-align: left;
}
.N123 dl dd:first-of-type{
  width:  40%; height: auto;   
}
.N123 dl dd img{     
  width:  90% ;height: auto;   
  transition: 0.5s;
}
.N123 dl dd img:hover{
  width:  100%; height:auto;  
}
.N123 dl dd:nth-of-type(2){
  margin-bottom: 1%;
  margin-left: 5%;
  line-height: 2.2vw;
  font-size: 1.8vw;
  width: 55%;        
  
} 
.N123 dl dd:nth-of-type(3){
  margin-left: 5%;
  line-height: 1.4vw;
  font-size: 1vw;
  width: 55%;
}
/* ========================================================== */
.Created{
  clear: both;
}   
.Created>dl>dt{
  font-size: 2.2vw;
  line-height:2.6vw;
  margin-bottom: 8%;     
  text-align: center;     
}
.Created>dl>dt p{
  font-size: 1.6vw;
  line-height:2.2vw;       
}
.Created>dl>dt p span{
  font-size: 1.2vw;
}
.pic{
  width: 80%; margin: 0 auto;
}
.pic div {
  float: left;  
  width: 23%;
  text-align: center;
  margin: 0 2%;
}
.pic img{
  width:  90%;              
  border-radius:100%;      
  margin: 0 auto;
  margin-bottom: 6%; 
  display: block;    
  transition: 0.5s;
}
.pic img:hover{
  width:  100%;  
}
.pic dd{
  line-height: 2.2vw;
  font-size: 1.6vw;
}
.pic dd.Noto{
  font-size: 2.2vw;
  line-height:2.6vw;
}
/* ========================================================== */
