nav{position: absolute;}
 /* ========================================================== */
body{background-color: #000;color: #fff;font-size: 14px;}
nav {z-index: 10; position: absolute;}
footer {z-index: 20; position: absolute;}
.section{z-index: 1;}
.section dl{
    position: relative;
    top:-2em;
} 
 /* ========================================================== */
a:link { color: rgb(0, 0, 0); text-decoration: none;}
a:visited { color: rgb(0, 0, 0); text-decoration: none;}
a:hover { color: rgb(0, 0, 0); text-decoration: underline;}
 /* ========================================================== */
 .center{ 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;      
}
body{
    font-family:'Helvetica';
    font-style:normal;
    font-weight:400;    
    letter-spacing: 0.1em; 
}

.Noto{
    font-family: 'KoPubDotum';
    font-style:normal;
    font-weight:100;   
    
}
.bold{
    font-family: 'KoPubDotum';
    font-style:normal;
    font-weight:400; 
}
body{
    min-height: 800px;
    min-width: 1280px;
}

nav {
    width: 100%;
    margin: 2% 0;        
}
.main-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.main-nav li{
    padding-right: 2%;    
}
.main-nav a {
    /* margin: 1%; */    
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.4em;
    transition: 0.5s;       
    color: rgb(136, 136, 136);    
}
.main-nav a:hover{
    color: #fff;
 }

/* ========================================================== */

.main{
    background: url('../img/logo.png') no-repeat;   
    background-position: center 30%;
    background-size: 20%;
} 
/* .main img{
    width: 30em; height: auto;
    margin: 0  auto; margin-top: -60px;
} */
/* ========================================================== */
.main dl:first-of-type{
      margin: 2%;
      position: relative;
      top :5%;
}
  .main dl:first-of-type dt{
    font-weight: 400;
    font-size: 3.4em;
    margin-bottom: 1%;
    
}
.main dl:first-of-type dd{
    font-size: 1.4em;
    line-height: 1.2em;
}
.day{
    float: right;
    clear: both;         
    position: relative; 
    margin-right: 20%;
    margin-top: 13%;
}
.day dt{
    font-size: 1.4em;
    margin-bottom: 1%;
}
.day dd{
    font-weight: 400;    
    font-size: 4em;    
}
.day dd:nth-of-type(2n){
    margin-bottom: 10%;        
}
/* ========================================================== */
.Introduce{
    width: 80%; margin: 0 auto;        
}
.Introduce dl,.Guide dl{       
    position: relative;
    top:-2em;
}

.Introduce dt iframe{
    /* width: 100%;  */
    /* margin: 0 auto;        */
    margin-bottom: 5%;    
}
/* .Introduce img{
    width: 50%; height: auto;   
    margin-bottom: 8%;    
    transition: 0.5s;
}
.Introduce img:hover{
    width:  55%; height:auto;  
} */
.Introduce dd{
    margin-bottom: 4%;
    line-height: 1.2em;
    font-size: 1.2em;
}
.Introduce dd:first-of-type{
    margin-bottom: 6%; 
    font-size: 2.2em;
    font-weight: 400;
    line-height:1.2em;
} 
/* ========================================================== */
.Guide dl>dt {
    margin-bottom: 2%; 
    font-size: 2.2em;
    font-weight: 400;
    line-height:2.6em;
}
.N123 {
    width: 80%;
}
.N123 dl{
    float: left;
    width: 33%;
    /* border: 1px solid #fff; */
}
.N123 img{
    width: 40%;
    margin-bottom: 2%;   
}
.N123 dt{
    font-size: 2.2em;
    font-weight: 400;
    line-height:2em;
    margin-bottom: 5%;
}

.N123 dl dd{     
    float: left;    
    text-align: left;
}
.N123 dl dd:first-of-type{
    width:  40%; height: auto;   
}
.N123 dl dd img{  
    width:  90% ;height: auto;   
    transition: 0.5s;
}
.N123 dl dd img:hover{
    width:  100%; height:auto;  
}
.N123 dl dd:nth-of-type(2){
    margin-bottom: 1%;
    margin-left: 5%;
    line-height: 1.8em;
    font-size: 1.8em;
    width: 55%;        
    
} 
.N123 dl dd:nth-of-type(3){
    margin-left: 5%;
    line-height: 1.6em;
    font-size: 1em;
    width: 55%;
}
/* ========================================================== */
.Created >dl{
    width: 80%;  
}
.Created>dl>dt{
    font-size: 2.2em;
    line-height:2em;
    margin-bottom: 8%;     
    text-align: center;     
}
.Created>dl>dt p{
    font-size: 0.8em;
    line-height:0.8em;      
}
.Created>dl>dt p span{
    font-size: 0.8em;
}
.pic{
    margin: 0 auto;
}
.pic div {
    float: left;  
    width: 23%;
    text-align: center;
    margin: 0 2%;
}
.pic img{
    width:  90%;              
    border-radius:100%;      
    margin: 0 auto;
    margin-bottom: 2em; 
    display: block;    
    transition: 0.5s;
}
.pic img:hover{
    width:  100%;  
}
.pic dd{
    line-height: 2em;
    font-size: 1.6em;
}
.pic dd.Noto{
    font-size: 2.2em;
    line-height:0.8em;
}
/* ========================================================== */

.QR img{
    width: 18%;
    min-width: 150px;
    transition: 0.5s;
    height: auto;
}
.QR img:hover{
    width: 22%;  
}
.QR dt{
    margin-bottom: 2%;
    font-size: 2.2em;    
}