body {color: #fff; font-family: 'FUTURA';letter-spacing:5px; }
.section {background-color: #000;font-size: 28px;}
.Noto{ font-family: 'NotoSansKR';font-weight: 100;letter-spacing:2px;}
.b4{font-weight: 400;}
/* ------------------------------------------------------------------- */
.main {background-color: #fff;background: url('../img/bg.png') no-repeat;background-size: 100%;background-position: top left;}
.main  > div {width: 90%;margin-left: 10%;height: 72%;padding-top: 20%;}
/* ------------------------------------------------------------------- */
.main  dl{display: inline;margin-top: 88px;}
/* ------------------------------------------------------------------- */
.main  dl:first-of-type{ width:76%;float: left;}
.main  dl:first-of-type dt{
    margin-left: 10%;margin-bottom:180px; 
    font-size: 88px; line-height: 108px;
}
.main  dl:first-of-type dd{margin-left: 10%;margin-bottom: 26px; line-height: 28px;}
.main  dl:first-of-type dd:first-of-type{font-size: 36px;margin-bottom: 32px;}
/* ------------------------------------------------------------------- */
.main  dl:last-of-type{ width:24%;float: right;}
.main  dl:last-of-type dt{
    -webkit-writing-mode: vertical-lr; 
    -ms-writing-mode: tb-lr; 
    margin-left: 70%;margin-top: 34px;margin-bottom: 160px;
    letter-spacing:5px; 
}
.main  dl:last-of-type dd span{display: block;line-height: 28px;}
.main  dl:last-of-type dd {margin-bottom: 10px;font-size: 44px;line-height: 54px;}
.main  dl:last-of-type > span {
    text-indent: -9999px;color: none;height:16px; display: block;margin-bottom: 20px;
    border-left: 3px solid #fff;
}
/* ------------------------------------------------------------------- */
.main  button {
    background-color: rgb(255, 255, 255); 
    width: 48%;height: 88px;margin-left: 26%;margin-top: 20%;
    font-size: 44px; 
    border: none;border-radius: 88px;
}
/* ------------------------------------------------------------------- */
.sm,.Created{width: 90%;margin-left: 12%; height: 72%;background-color: rgb(0, 0, 0);}
.sm,.Created{text-align: center;}
.sm dl{padding-top: 10%;}
.sm dt,.Created div>dl>dt{margin-bottom: 10%; line-height: 56px;font-size: 28px;}
.sm dt span,.Created div>dl>dt span{display: block;font-size: 48px;}
.Created div>dl>dt span {padding-top: 10%;}
.sm img{width:60%; height: auto;}

/* ------------------------------------------------------------------- */
.Introduce  dd {font-size: 32px;}
.Introduce  dd:nth-of-type(2){font-size: 44px;margin:52px 0;}
.Introduce  dd:nth-of-type(3){line-height:42px;margin-bottom: 20px;}
.Introduce  dd:nth-of-type(4){line-height: 42px;}
/* ------------------------------------------------------------------- */
.Guide dd:first-of-type{font-size: 32px;margin: 40px 0;}
.Guide dd:nth-of-type(2){font-size: 52px;margin:52px 0;}
.Guide dd:nth-of-type(3){font-size: 28px;line-height: 40px;}
/* ------------------------------------------------------------------- */

.Created dl dd> dl dt img{
    width:  240px; height:240px;  margin-bottom: 20px; 
    border-radius:200px;
}
.Created dl dd> dl { width: 50%;float: left;}
.Created dl dd:nth-of-type(3)> dl{ width: 100%;clear: both;}
.Created dl dd>dl dd{line-height: 32px;}
/* ------------------------------------------------------------------- */
